nav {
  align-items: center;
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav h3, li {
  font-family: 'Pangolin', sans-serif;
}

nav h3 {
  font-size: 1.2rem;
  padding-top: 10px;
}

nav li {
  font-size: 0.8rem;
}

/************MEDIA QUERIES**********/

/* IPADS & TABLETS */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  nav h3 {
    font-size: 1.4rem
  }

  nav li {
    font-size: 1.1rem;
  }
}

/* SMALL SCREENS AND LAPTOPS */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  nav h3 {
    font-size: 1.5rem
  }

  nav li {
    font-size: 1.3rem;
  }
}

/* DESKTOPS AND LARGE SCREENS */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  nav h3 {
    font-size: 2rem
  }

  nav li {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1201px)  {
  nav h3 {
    font-size: 2.5rem
  }

  nav li {
    font-size: 1.8rem;
  }
}