body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*******************CLASS SELECTORS***************/

.App {
  text-align: center;
  padding-top: 100px;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Pangolin', cursive;
*/