/*******************TAG SELECTORS*****************/

nav {
  align-items: center;
  background: rgb(73, 70, 82);
  color: white;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
}

/*******************CLASS SELECTORS***************/

.App {
  text-align: center;
}

.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

.router-link {
  color: white;
  text-decoration: none;
}